.heroHome {
  background-image: url("../public/sushi.jpg");
  background-color: rgb(236, 236, 236);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
