@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer base {
  h1 {
    @apply font-bold text-3xl;
  }
  a {
    @apply underline font-bold;
  }
}

:root {
  --neutral: #e9e4e0;
  --eggplant: #4e1237;
  --oatmeal: #c9c1bc;
  --mango: #f4ac2a;
  --utrecht: #1567a5;
  --btnhover: #8f2b69;
  --hover: #8f2b69;
  --font-size: 18px;
}

/* Body and Headers Properties */
body {
  background-color: var(--neutral);
  color: var(--eggplant);
  font-size: var(--font-size);
  line-height: 1.5;

  font-family: Poppins, "Trebuchet MS", Arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1 {
  font-size: calc(var(--font-size) * 2.25);
  color: var(--eggplant);
  padding-bottom: 35px;
}
h2 {
  font-weight: bold;
  font-size: calc(var(--font-size) * 1.2);
  color: var(--mango);
  margin-top: 20px;
}
h3 {
  font-size: calc(var(--font-size) * 1.2);
  font-weight: bold;
}

section {
  padding-top: 150px;
}

.splashTitle {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  width: 100%;
}

/* Link Properties */
a.body {
  color: var(--eggplant);
  transition: color 200ms;
  text-decoration: none;
  font-weight: bold;
}
a {
  color: var(--eggplant);
  transition: color 200ms;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus {
  color: var(--hover);
  font-weight: bold;
}

/* Nav Properties */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f4a41a;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 10;
}
nav a {
  font-size: 20px;
  color: white;
  margin-right: 35px;
}
nav a:hover {
  color: var(--hover);
}
nav {
  padding-left: 20px;
}

/* Footer Properties */
footer {
  background-color: var(--eggplant);
  color: var(--mango);
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: auto;
  padding: 0 20px;
}
footer a {
  color: var(--mango);
  margin-right: 10px;
}

footer img {
  margin-left: auto;
}

/* Form, Input, and Button Properties */

.neutralBG {
  height: 100vh;
  background-color: var(--neutral);
  display: flex;
  justify-content: center;
}

.formCard {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 50px;
  padding: 50px;
  box-shadow: 0 5px 10px 0 rgba(78, 15, 55, 0.1),
    0 10px 20px 0 rgba(78, 15, 55, 0.1);
}

label {
  font-size: 18px;
  color: var(--eggplant);
  font-weight: bold;
}

input {
  background-color: whitesmoke;
  border: 1px solid var(--mango);
  border-radius: 12px;
  padding: 0.5em 0.9em;
  color: var(--eggplant);
  font-weight: bold;
  font-size: 1em;
  width: 250px;
  margin-bottom: 30px;
}

input.submit {
  background-color: var(--eggplant);
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 12px;
  border: 1px solid var(--mango);
  transition-duration: 0.6s;
  cursor: pointer;
  font-weight: 800;
  margin: 1em;
}

input.submit:hover {
  background-color: var(--btnhover);
  color: white;
}

textarea {
  width: 90%;
  height: 150px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 0.6em 1em;
  color: var(--eggplant);
  font-size: 1em;
  resize: none;
}

select {
  background-color: whitesmoke;
  border: 1px solid var(--mango);
  border-radius: 12px;
  padding: 0.6em 1em;
  color: var(--eggplant);

  font-size: 1em;
  width: 250px;
  margin-right: 25px;
  margin-bottom: 10px;
}
select:hover {
  background-color: white;
  color: var(--eggplant);
}

button {
  background-color: var(--eggplant);
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 12px;
  border: 1px solid var(--mango);
  transition-duration: 0.6s;
  cursor: pointer;
  font-weight: 800;
  margin: 0.3em;
}
button:hover {
  background-color: var(--btnhover);
  color: white;
}

.button {
  background-color: var(--eggplant);
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  border-radius: 12px;
  border: 1px solid var(--mango);
  transition-duration: 0.6s;
  cursor: pointer;
  font-weight: 800;
  margin: 0.3em;
}
.button:hover {
  background-color: var(--btnhover);
  color: white;
}

/* Modal Properties */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal {
  background-color: var(--mango);
  border-radius: 20px;
  padding: 25px;
}

.modal-content {
  color: white;
  font-weight: bold;
  margin: auto;
}
.close {
  color: var(--eggplant);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  font-weight: bold;
  color: red;
}

/*Splash Page Properties*/
.splash {
  position: relative;
  height: 10vh;
  width: 100%;
  overflow: auto;
}
.splash-bg {
  object-fit: cover;
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
  top: 0;
}
.herobanner {
  padding: 50px;
  text-align: center;
  color: white;
  background-color: rgba(78, 15, 55, 0.76);
  margin-top: 100px;
  margin-bottom: 150px;
}
.intro-container {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(238, 163, 25, 0.945);
  color: white;
  margin-bottom: 150px;
}

.intro-blurb {
  display: flex;
  align-items: center;
}
.intro-blurb p {
  padding-left: 30px;
}

.img-basic {
  border-radius: 80px;
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--eggplant);
}

/*Responsive Properties*/

@media screen and (max-width: 800px) {
  .intro-blurb {
    flex-direction: column;
  }
  .intro-blurb p {
    padding-left: 0px;
  }
  .gastrologo {
    width: 40px;
    height: 40px;
  }
  footer {
    font-size: 12px;
  }
  nav a {
    font-size: 16px;
    margin-right: 10px;
  }
  nav {
    padding-left: 10px;
  }
}
